<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <title>Document</title>
  </head>
  <body class="p-5">
    <div class="d-flex justify-content-end">
      <a href="{% url 'create_task' %}" class="btn btn-primary">Create Task</a>
    </div>
    <div class="d-flex justify-content-end my-2">
      <a href="{% url 'create_tag' %}" class="btn btn-warning">Create Tag</a>
    </div>
    <h2>Taks</h2>
    <div class="row">
      {% for task in tasks %}
        <div class="col-md-3 card">
          <div class="card-body">
            <div class="font-bold">
                NAME : {{task.title}}
            </div>
            <div class="font-bold">
                Due date : {{task.due_date}}
            </div>
            <div class="font-bold">
                Description  : {{task.description}}
            </div>
            <div class="font-bold">
                Status  : {{task.status}}
            </div>
            {% if task.status == 'In Progress' %}
            <a href="{% url 'mark_as_done' task.id %}" class="btn btn-success" >  Mark as Done </a>
            {% endif %}
          </div>
        </div>
      {% empty %}
        No task
      {% endfor %}
    </div>
<h2>Tags</h2>


    .
    <div class="row">
        {% for tag in tags %}
          <div class="col-md-3 ">
            <div class="">
              <h4 class="font-bold">
                 # {{tag.tag_name}}
                 
              </h4>
             {{tag.tasks}}
          </div>
        {% empty %}
          No task
        {% endfor %}
      </div>
    </div>

  </body>
</html>
